page-pedidos-detail {
    .ion-md-happy{
        font-size: 13em;
        color: purple;
        display: block;
        margin: auto;
        text-align: center;
    }
    .label-detail{
        text-align: center;
        font-size: 1.2em;
    }
}
